<div class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 100 }'>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.ClipArt">
       <ul>
        <li><img src="assets/activities_images/ClipArt.svg" ></li>
        <li><span class="title">ClipArt</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.RelfectionActivity">
       <ul>
        <li><img src="assets/activities_images/Reflection.svg" ></li>
        <li><span class="title">Reflection</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.RecallActivity">
       <ul>
        <li><img src="assets/activities_images/Recall.svg" ></li>
        <li><span class="title">Recall</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.Oficina">
       <ul>
        <li><img src="assets/activities_images/Paint.svg" ></li>
        <li><span class="title">Paint</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.TurtlePondActivity">
       <ul>
        <li><img src="assets/activities_images/Turtle in a Pond.svg" ></li>
        <li><span class="title">Turtle in a Pond</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.community.Numbers">
       <ul>
        <li><img src="assets/activities_images/Numbers.svg" ></li>
        <li><span class="title">Numbers</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.LetterMatch.NI">
       <ul>
        <li><img src="assets/activities_images/Letter Match.svg" ></li>
        <li><span class="title">Letter Match</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.Words">
       <ul>
        <li><img src="assets/activities_images/Words.svg" ></li>
        <li><span class="title">Words</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.MusicKeyboard">
       <ul>
        <li><img src="assets/activities_images/Music Keyboard.svg" ></li>
        <li><span class="title">Music Keyboard</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.sugar.Jukebox">
       <ul>
        <li><img src="assets/activities_images/Jukebox.svg" ></li>
        <li><span class="title">Jukebox</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.Chat">
       <ul>
        <li><img src="assets/activities_images/Chat.svg" ></li>
        <li><span class="title">Chat</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.NapierActivity">
       <ul>
        <li><img src="assets/activities_images/Napier.svg" ></li>
        <li><span class="title">Napier</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.MakeyMakey">
       <ul>
        <li><img src="assets/activities_images/MakeyMakey.svg" ></li>
        <li><span class="title">MakeyMakey</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.Terminal">
       <ul>
        <li><img src="assets/activities_images/Terminal.svg" ></li>
        <li><span class="title">Terminal</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.TurtleArtActivity">
       <ul>
        <li><img src="assets/activities_images/TurtleBlocks.svg" ></li>
        <li><span class="title">TurtleBlocks</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/vu.lux.olpc.Maze">
       <ul>
        <li><img src="assets/activities_images/Maze.svg" ></li>
        <li><span class="title">Maze</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.physics">
       <ul>
        <li><img src="assets/activities_images/Physics.svg" ></li>
        <li><span class="title">Physics</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.VisualMatchActivity">
       <ul>
        <li><img src="assets/activities_images/Dimensions.svg" ></li>
        <li><span class="title">Dimensions</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.community.Spirolaterals">
       <ul>
        <li><img src="assets/activities_images/Spirolaterals.svg" ></li>
        <li><span class="title">Spirolaterals</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.FlipActivity">
       <ul>
        <li><img src="assets/activities_images/Flip.svg" ></li>
        <li><span class="title">Flip</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/com.laptop.Ruler">
       <ul>
        <li><img src="assets/activities_images/Ruler.svg" ></li>
        <li><span class="title">Ruler</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.StarChart">
       <ul>
        <li><img src="assets/activities_images/StarChart.svg" ></li>
        <li><span class="title">StarChart</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.ICanReadActivity">
       <ul>
        <li><img src="assets/activities_images/I Can Read.svg" ></li>
        <li><span class="title">I Can Read</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.FractionBounceActivity">
       <ul>
        <li><img src="assets/activities_images/FractionBounce.svg" ></li>
        <li><span class="title">FractionBounce</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.HelpActivity">
       <ul>
        <li><img src="assets/activities_images/Help.svg" ></li>
        <li><span class="title">Help</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.AnalyzeJournal">
       <ul>
        <li><img src="assets/activities_images/Analyze Journal.svg" ></li>
        <li><span class="title">Analyze Journal</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.community.TypingTurtle">
       <ul>
        <li><img src="assets/activities_images/Typing Turtle.svg" ></li>
        <li><span class="title">Typing Turtle</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.ImageViewerActivity">
       <ul>
        <li><img src="assets/activities_images/Image Viewer.svg" ></li>
        <li><span class="title">Image Viewer</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.worldwideworkshop.PollBuilder">
       <ul>
        <li><img src="assets/activities_images/Poll.svg" ></li>
        <li><span class="title">Poll</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.BibliographyActivity">
       <ul>
        <li><img src="assets/activities_images/Bibliography.svg" ></li>
        <li><span class="title">Bibliography</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/mulawa.Letters">
       <ul>
        <li><img src="assets/activities_images/Letters.svg" ></li>
        <li><span class="title">Letters</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/in.seeta.ColorDeducto">
       <ul>
        <li><img src="assets/activities_images/ColorDeducto.svg" ></li>
        <li><span class="title">ColorDeducto</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.JournalShare">
       <ul>
        <li><img src="assets/activities_images/Journal Share.svg" ></li>
        <li><span class="title">Journal Share</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.Memorize">
       <ul>
        <li><img src="assets/activities_images/Memorize.svg" ></li>
        <li><span class="title">Memorize</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.NutritionActivity">
       <ul>
        <li><img src="assets/activities_images/Nutrition.svg" ></li>
        <li><span class="title">Nutrition</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/vu.lux.olpc.Speak">
       <ul>
        <li><img src="assets/activities_images/Speak.svg" ></li>
        <li><span class="title">Speak</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.WordCloud">
       <ul>
        <li><img src="assets/activities_images/WordCloud.svg" ></li>
        <li><span class="title">WordCloud</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/in.seeta.Deducto">
       <ul>
        <li><img src="assets/activities_images/Deducto.svg" ></li>
        <li><span class="title">Deducto</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.Log">
       <ul>
        <li><img src="assets/activities_images/Log.svg" ></li>
        <li><span class="title">Log</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.AbiWordActivity">
       <ul>
        <li><img src="assets/activities_images/Write.svg" ></li>
        <li><span class="title">Write</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.MeasureActivity">
       <ul>
        <li><img src="assets/activities_images/Measure.svg" ></li>
        <li><span class="title">Measure</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.StoryActivity">
       <ul>
        <li><img src="assets/activities_images/Story.svg" ></li>
        <li><span class="title">Story</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.sugar.ReadActivity">
       <ul>
        <li><img src="assets/activities_images/Read.svg" ></li>
        <li><span class="title">Read</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.AmazonasTortuga">
       <ul>
        <li><img src="assets/activities_images/Amazonas Tortuga.svg" ></li>
        <li><span class="title">Amazonas Tortuga</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.WebActivity">
       <ul>
        <li><img src="assets/activities_images/Browse.svg" ></li>
        <li><span class="title">Browse</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.AbacusActivity">
       <ul>
        <li><img src="assets/activities_images/Abacus.svg" ></li>
        <li><span class="title">Abacus</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/me.samdroid.sugar.slides">
       <ul>
        <li><img src="assets/activities_images/Slides.svg" ></li>
        <li><span class="title">Slides</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.eq.FotoToon">
       <ul>
        <li><img src="assets/activities_images/FotoToon.svg" ></li>
        <li><span class="title">FotoToon</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.Pippy">
       <ul>
        <li><img src="assets/activities_images/Pippy.svg" ></li>
        <li><span class="title">Pippy</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.PortfolioActivity">
       <ul>
        <li><img src="assets/activities_images/Portfolio.svg" ></li>
        <li><span class="title">Portfolio</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.LocoSugar">
       <ul>
        <li><img src="assets/activities_images/LocoSugar.svg" ></li>
        <li><span class="title">LocoSugar</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.PukllanapacActivity">
       <ul>
        <li><img src="assets/activities_images/Pukllanapac.svg" ></li>
        <li><span class="title">Pukllanapac</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.community.Finance">
       <ul>
        <li><img src="assets/activities_images/Finance.svg" ></li>
        <li><span class="title">Finance</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.IngeniumMachina">
       <ul>
        <li><img src="assets/activities_images/IngeniumMachina.svg" ></li>
        <li><span class="title">IngeniumMachina</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.CookieSearchActivity">
       <ul>
        <li><img src="assets/activities_images/CookieSearch.svg" ></li>
        <li><span class="title">CookieSearch</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.GNUChessActivity">
       <ul>
        <li><img src="assets/activities_images/SimpleGNUChess.svg" ></li>
        <li><span class="title">SimpleGNUChess</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.MazeWebActivity">
       <ul>
        <li><img src="assets/activities_images/Maze Web.svg" ></li>
        <li><span class="title">Maze Web</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.PathsActivity">
       <ul>
        <li><img src="assets/activities_images/Paths.svg" ></li>
        <li><span class="title">Paths</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/me.samdroid.sugar.2048">
       <ul>
        <li><img src="assets/activities_images/2048.svg" ></li>
        <li><span class="title">2048</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.AEIOU.NI">
       <ul>
        <li><img src="assets/activities_images/AEIOU.svg" ></li>
        <li><span class="title">AEIOU</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.Football">
       <ul>
        <li><img src="assets/activities_images/Football.svg" ></li>
        <li><span class="title">Football</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.YupanaActivity">
       <ul>
        <li><img src="assets/activities_images/Yupana.svg" ></li>
        <li><span class="title">Yupana</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/mulawa.Triples">
       <ul>
        <li><img src="assets/activities_images/Triples.svg" ></li>
        <li><span class="title">Triples</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.CardSortActivity">
       <ul>
        <li><img src="assets/activities_images/Card Sort.svg" ></li>
        <li><span class="title">Card Sort</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.ErikosActivity">
       <ul>
        <li><img src="assets/activities_images/Erikos.svg" ></li>
        <li><span class="title">Erikos</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.sugarlabs.SlideruleActivity">
       <ul>
        <li><img src="assets/activities_images/Sliderule.svg" ></li>
        <li><span class="title">Sliderule</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.RecordActivity">
       <ul>
        <li><img src="assets/activities_images/Record.svg" ></li>
        <li><span class="title">Record</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.TurtleArtActivity3D">
       <ul>
        <li><img src="assets/activities_images/TurtleBlocks3D.svg" ></li>
        <li><span class="title">TurtleBlocks3D</span></li>
      </ul>
    </a>
  </div>
  <div class="item">
    <a href="https://activities-2.sugarlabs.org/view/org.laptop.community.FollowMe">
       <ul>
        <li><img src="assets/activities_images/Follow Me.svg" ></li>
        <li><span class="title">Follow Me</span></li>
      </ul>
    </a>
  </div>
</div>